# build output
dist/
# vercel project link
!.vercel/project.json

# deps
node_modules/

# env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp
*.swo

# astro
.astro/
.vercel
.env*
